@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
body {
	background-image: url('img/bg.gif');
	background-size: cover;
}

h1 {
	font-family: 'VT323', monospace;
	text-align: center;
}

p {
	font-family: 'Fira Mono', monospace;
	text-align: center;
}